*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bottomHeader{
    margin: 0px;
}

.image{
   height: 100px; 
}
.dropdown-menu{
    background-color: #004d80;
    
}
.dropdown-item{
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.footer{
    background-color: #555555;
     width: 100%;
}
.great{
    font-size: 14px;
    color: whitesmoke;
    margin: 5px 0px;
    font-style: italic;
}
.icons{
    display: inline-flex;
}
